@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/bg-pattern-top.svg);
    background-image: url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
    /* box-shadow: 2px 3px 4px red, -2px -3px 4px red; */
}

.image  {
    width: 100%;
    overflow: hidden;
}

.image > img {
    width: 700px;
    height: 180px;
}

.victor {
    width: 100%;
    text-align: center;
    position: relative;
}

.victor > img {
    width: 170px;
    border: 5px solid #fff;
    border-radius: 50%;
    position: relative;
    top: -100px;
}

.first {
    display: flex;
    gap: 18px;
    margin-top: -70px;
    vertical-align: bottom;
}

.num {
    margin-top: -1px;
    font-size: 20px;
}

p {
    font-size: 16px;
    font-weight: 700;
    color: hsl(227, 10%, 46%);
    margin-top: -10px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

section {
    display: flex;
}

h2 {
    font-weight: 700;
    margin-bottom: 10px;
    color: hsl(229, 23%, 23%);
}

span {
    margin: 30px;
    margin-top: 20px
}

.text {
    font-size: 12px;    
}

.attribution { 
    font-size: 25px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px) {

    .profile {
        display: flex;
        margin: 20px auto;
        width: 90%;
    }

    .attribution { 
        margin-top: -5px;
        font-size: 15px; 
    }
}